.wrapper {
    display: inline-block;
    position: relative;
}

.options {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .6);
}

.options > li{
    padding: 3px 6px;
}

li.active {
    background-color: #0094ff;
    color: #fff;
}
